body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


a {
	text-decoration: none;
}
p{
	color: rgb(61,61,61);
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 650px;
}
/*menu-bar*/
	nav {
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2000;
		margin: 0;
		padding: 0;
	}
	
	nav > ul {
		width: 100%;
		height: 50px;
		margin: 0 auto;
		padding-left: 20px;
		background-color: rgba(97,97,97,0.9);
	}
	
	nav>ul>li {
		display: block;
		float: left;
		width: 10%;
		height: 50px;
		padding-top: 15px;
		padding-left: 10px;
		margin: 0 auto;
		font-weight: normal;
		font-style: normal;
		line-height: 1;
		}
	
	nav ul li a {
		display: block;
		color: #FFFFFF;
		font-size: 12px;
		margin: 0 auto;
		text-align: center;
	}
	
	nav ul li a:hover{
		color: #C7C7C7;
	}
	#toggle, #smart-phone{
		display: none;
	}

/* slide */
	.bx-wrapper {
		position: relative;
		height: 650px
	}

	.bx-pager {
	
    position: absolute;
    bottom: 30px;
    width: 100%;
	}

	.bx-viewport .bx-default-pager {
		height: 650px;
		position: absolute;
	} 
		
	ul.bxslider {
		height: 650px;
		padding: 0;
		margin: 0;
	}
	.bxslider li img {
		width: 100%;
		height: 650px;
	}

article {
	border-top: solid 1px #fff;
	margin: 0px 0px 15px 0px;
	padding: 0;
	width: 100%;
	height: 200px;
	}
article ul{
	margin: 0;
	padding: 0;
	background-color:  #F8F8F8;
	text-align: center;
	width: 100%;
	height: 200px;
	}

article ul li{
	float: left;
	width: 25%;
	height: 200px;
	margin: 0;
	padding: 0;
	}

article ul .list1,.list2,.list3 {
	position: relative;
	top: 0px;
	left: 0px;
	}


article ul li img{
	width: 100%;
	height: 200px;
	}

article ul li p{
	position: relative;
	top: -50px;
	left: 0px;
	height: 10px;
	width: auto;
	color: #333;
	font-size: 18px;
	line-height: 1.45;
	font-weight: 400;
	}
	
footer {
	margin: 0px auto 20px auto;
	height: 100%;
	width: 80%;
	}
footer > * a {
	color: #7C7C7C;
	font-size: 11px;
	line-height: 1.5;
	font-weight: 300;
	}
footer > * a:hover{
	text-decoration: underline;
	}
	
footer .footer-block p {
	color: #999;
	font-size: 10px;
	line-height: 1;
	font-weight: 300;
	}
footer .footer-text {
	height: 15px;
	padding-bottom: 20px;
	}


footer .footer-text small{
	color: #999;
	font-size: 10px;
	line-height: 1;
	font-weight: 300;
	margin-bottom: 20px;
	}
footer .footer-navi{
	height: 100%;
	border-top: solid 1px #E3E3E3;
	padding-top: 15px;
	overflow: hidden;	
	}
.footer-block{
	display: inline;
	float: left;
	}

.foot1{
	margin: 0;
	padding: 0;
	float: right;	
	}

footer>.right {
	float: left;
	}

.foot1>li{
	float: left;
	color: #7C7C7C;
	font-size: 11px;
	line-height: 1.5;
	font-weight: 300;
	}

.left {
	height: 20px;
	margin-top: 40px;
	padding: 0;
	
	}
.left>p{
	margin-right: 10px;
	float: left;
	color: #999999;
	font-size: 10px;
	line-height: 1;
	font-weight: 300;
	padding-top: 3px;
	}

.foot2 {
	padding: 0;
	}

.foot2>li{
	float: left;
	color: #7C7C7C;
	font-size: 11px;
	margin-right: 5px;
	padding-right: 5px;
	line-height: 1;
	font-weight: 300;
	}
	
.border{
	float: left;
	color: #7C7C7C;
	font-size: 11px;
	margin-right: 5px;
	border-right: 1px solid #E3E3E3;
	padding-right: 5px;
	line-height: 1;
	font-weight: 300;
	}


article {
	border-top: solid 1px #fff;
	margin: 0px 0px 15px 0px;
	padding: 0;
	width: 100%;
	height: 200px;
	}
article ul{
	margin: 0;
	padding: 0;
	background-color:  #F8F8F8;
	text-align: center;
	width: 100%;
	height: 200px;
	}

article ul li{
	float: left;
	width: 24.9%;
	height: 200px;
	margin: 0;
	padding: 0;
	}

article ul .list1,.list2,.list3 {
	border-right: solid 1.5px #fff;
	position: relative;
	top: 0px;
	left: 0px;
	}

article ul .list4 {
	width: 25.01%;
	position: relative;
	top: 0px;
	left: 0.3px;
	}

article ul li img{
	width: 100%;
	height: 200px;
	}

article ul li p{
	position: relative;
	top: -50px;
	left: 0px;
	height: 10px;
	width: auto;
	color: #333;
	font-size: 18px;
	line-height: 1.45;
	font-weight: 400;
	}


/*スマホ*/
@media only screen and (max-width:480px) {
header {
	width: 100%;
	height: 350px;;
}
#pc {
		display: none;
	}
.bx-wrapper {
		position: relative;
		height: 350px;
	}
ul.bxslider {
		height: 350px;
		padding: 0;
		margin: 0;
	}
.bxslider li img {
		width: 100%;
		height: 350px;
	}
#smart-phone{
		display: none;
		height: 100%;
		background-color: rgba(97,97,97,0.9); 
		margin: 0;
	}
	
#smart-phone li{
		width: 100%;
		height: 100%;
		text-align: center;
	}
	
#toggle {
		display: block;
		position: relative;
		width: 100%;
		background-color: rgba(97,97,97,0.9); 
	}
	
#toggle a {
		height: 30px;
		display: block;
		position: relative;
		padding: 12px 0px 10px 0px;
		color: #fff;
		text-align: center;
		text-decoration: none;
	}
#toggle:before{
		display: block;
		content: "";
		position: absolute;
		top: 50px;
		left: 10px;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background: #fff;
	}
#toggle:before, #toggle a:after{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		width: 20px;
		height: 4px;
		background: #fff;
	}
	
article {
	border-top: solid 1px #fff;
	margin: 0px;
	padding: 0;
	width: 100%;
	height: 800px;
	}
article ul{
	margin: 0;
	padding: 0;
	background-color:  #F8F8F8;
	text-align: center;
	width: 100%;
	height: 800px;
	}

article ul li{
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	}
article ul .list4 {
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	}
	
footer {
	width: 90%;
	}
footer > * a {
	line-height: 2;
	}
	
footer .footer-block p {
	line-height: 2;
	margin-bottom: 10px;
	}
footer .footer-text {
	height: 15px;
	padding: 20px;
	}

.foot1{
	margin-bottom: 15px;
	padding: 0;
	float: left;
	}


.foot1>li{
	font-size: 11px;
	line-height: 2;
	margin-right: 10px;
	}

		
}	

/*タブレット*/
@media (min-width: 481px) and (max-width: 800px) {

#toggle, #smart-phone{
	display: none;
	}

nav {
		width: 100%;
		height: 60px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2000;
		margin: 0;
		padding: 0;
	}
	
nav > ul {
		width: 100%;
		height: 60px;
		margin: 0 auto;
		background-color: rgba(97,97,97,0.9);
	}
	
nav>ul>li {
		display: block;
		float: left;
		width: 10%;
		height: 50px;
		padding: 20px 0px 0px 0px; 
		margin: 0 auto;
		font-weight: normal;
		font-style: normal;
		line-height: 1.5;
		}
	
nav ul li a {
		display: block;
		color: #FFFFFF;
		text-align: center;
		font-size: 12px;
		padding: 0px; 
	}
	
nav ul li a:hover{
		color: #C7C7C7;
	}
#toggle, #smart-phone{
		display: none;
	}
article {
	height: 400px;
	width: 100%;
	}

article ul{
	height: 400px;
	width: 100%;
	}

article ul li{
	width: 49.8%;
	float: left;
	}
article ul .list2 {
	width: 49.9%;
	float: left;
	}
article ul .list4 {
	width: 49.9%;
	float: left;
	}
footer {
	width: 90%;
	}
footer > * a {
	line-height: 2;
	}
	
footer .footer-block p {
	line-height: 2;
	margin-bottom: 10px;
	}
footer .footer-text {
	height: 15px;
	padding: 20px;
	}

.foot1{
	margin-bottom: 15px;
	padding: 0;
	float: left;
	}


.foot1>li{
	font-size: 11px;
	line-height: 2;
	margin-right: 10px;
	}
	
}